<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% block title %}Главная{% endblock title %}</title>
  </head>
  <body>
    <header>
        <div class="container mt-4 d-flex justify-content-center">
            <ul class = "nav">
                <li class="nav-item ">
                    <a class = "nav-link " href="{% url 'board:index' %}">Главная</a>
                </li>
                <li class="nav-item ">
                    <a class = "nav-link " href="{% url 'board:comment' %}">Комментарии</a>
                </li>

                <li class="nav-item">
                    <a class = "nav-link " href="{% url 'board:companymanager'%}">Менеджер компаний</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class = "nav-link " href="{% url 'board:cabinet' pk=request.user.id %}">{{request.user}}</a>
                </li>
                <li class="nav-item">
                    <a class = "nav-link btn-danger"  href="{% url 'board:logout'%}">Выйти</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class = "nav-link" href="{% url 'board:login'%}">Войти</a>

                </li>
                <li class="nav-item">
                    <a class = "nav-link" href="{% url 'board:register'%}">Регистрация</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </header>
    <section>
        <br><br>
        {% block content %}

        {% endblock content%}
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>