{% extends 'base.html' %}
{% block title %}Авторизация{% endblock title %}
{% block content %}
<div class="container d-flex justify-content-center ">
<h1 class ="mr-4">Авторизация</h1>
<div class ="col-4 ">
    <form id = "projectform" method="post">
          {% csrf_token %}
          {{ form }}
     <button form = "projectform" type="submit" class="btn btn-primary mt-4">Войти</button>
    </form>
</div>
    </div>
{% endblock content %}