{% extends 'base.html' %}
{% block title %}Компания {{company.name}}{% endblock title %}
{% block content %}
{% if update %}
<div class="container">
<div class="d-flex justify-content-center ">
  <h1>Обновление данных</h1>
  {% if success_update %}
    <p style="color:red">Данные обновлены</p>
  {% endif %}
  <br><br>
  <form id = "update_data" method="post">
            {% csrf_token %}
            {{ form }}
  </form>
</div>
<button form = "update_data" type="submit" class="btn btn-primary">Обновить</button>
</div>
{% else %}
<div class="container ">
  <h2>{{company.name}}:</h2>
  <div class="row">
    <div class="col-sm">
  <nav class="text-left mt-4">
    <p>Директор: {{company.fio}}</p>
    <p>Описание компании: {{company.content}}</p>
    <p>Опубликовано: {{company.published|date:"d.m.Y H:i:s" }}</p>
    <p>Выполнено: {{company.done|date:"d.m.Y H:i:s" }}</p>
    <p>Адрес компании: {{company.adress}}</p>
    <p>Телефон компании: {{company.phone}}</p>
    <p>Email: {{company.email}}</p>
  </nav>
    </div>
    <div class="col-sm">
  <nav class="text-right mt-4 ">
    <a class="btn btn-primary" href="{% url 'board:updatecompany' pk=company.pk %}" role="button">Редактировать компанию</a><br><br>
<form id="delete_form" action="{% url 'board:deletecompany' pk=company.pk %}" method="post">{% csrf_token %}</form>
        <a class="btn btn-primary" href="javascript:void()" onclick="delete_question()">Удалить</a>
        <script>
          function delete_question(){
            if (confirm("Удалить компанию?")){
                document.getElementById('delete_form').submit()
            }
          }
        </script>
    <br>
<button type="button" class="btn btn-primary mt-4 ml-4" data-toggle="modal" data-target="#exampleModal">
  Добавить проект
</button>
<button type="button" class="btn btn-primary mt-4 ml-4" data-toggle="modal" data-target="#commentModal">
  Добавить комментарий
</button>
  </nav>
    </div>
  </div>
</div>
<br><br>
{% if current_project %}
<div class="container ">
<h2>Проекты:</h2>
<div class="mt-4 d-flex justify-content-center ">
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Название компании</th>
      <th scope="col">Название проекта</th>
      <th scope="col">Описание проекта</th>
      <th scope="col">Дата1</th>
      <th scope="col">Дата2</th>
      <th scope="col">Цена</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for i in current_project %}
    <tr>
      <td>{{i.company}}</td>
      <td><a href="{% url 'board:detailproject' pk=i.id %}">{{i.title}}</a></td>
      <td>{{i.content| safe}}</td>
      <td>{{i.date1}}</td>
      <td>{{i.date2}}</td>
      <td>{{i.price}}</td>
      <td><a href="{% url 'board:updateproject' pk=i.id %}">Редактировать</a></td>
      <td><a href="{% url 'board:deleteproject' pk=i.id %}">Удалить</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <div class="container mt-4 d-flex justify-content-center ">
  <h4>Проекты не найдены</h4>
  </div>
{% endif %}
</div>
</div>

<br><br>

<div class="container">
   <ul class = "list-group mt-2">
     {% if current_comment %}
  <h2>Комментарии:</h2>
  {% for i in current_comment %}
            <li class = "list-group-item">

                <span class ="ml-3">Менеджер: {{i.manager}}</span>

                <span class ="ml-3">Канал общения: {{i.chanel}}</span>
                <span class ="ml-3">Оценка: {{i.ergebnis}}</span><br>
                <span class ="ml-3">Текст комментария: {{i.text}}</span>
                <p class ="ml-3">Автор: {{i.author}}</p>
            </li>
     <br>
        </ul>
  {% endfor %}
  {% else %}
  <div class="container mt-4 d-flex justify-content-center ">
  <h4>Комментарии не найдены</h4>
  </div>
  {%endif%}
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление проекта</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "projectform" method="post">
          {% csrf_token %}
          {{ form.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form = "projectform" name="form" type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Добавление комментария</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "commentform" method="post">
          {% csrf_token %}
          {{ form2.as_p }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button form = "commentform" name="form2" type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}