{% extends 'base.html' %}
{% block title %}Авторизация{% endblock title %}
{% block content %}
<div class="container d-flex justify-content-center ">
<h1 class =" mr-4">Регистрация</h1>
</div>
<div class="container col-4">
<form id = "projectform" method="post">
          {% csrf_token %}
          {{ form }}
    <div class="container d-flex justify-content-center ">
    <button form = "projectform" type="submit" class="btn btn-primary mt-4">Зарегистрироваться</button>
    </div>
        </form>


    </div>


{% endblock content %}